<ul>

<%= form_for @listing do |f| %>

<%= f.label :listing_name %>
<%= f.text_field :listing_name %><br>

<%= f.label :property_type %>
<%= f.select :property_type, ['Apartment', 'Condominium', 'House'] %><br>

<%= f.label :room_type %>
<%= f.select :room_type, ['Entire home/apt', 'Private Room', 'Shared Room'] %><br>

<%= f.label :description %>
<%= f.text_field :description %><br>

<%= f.label :accommodates %>
<%= f.select :accommodates, ['1', '2', '3', '4', '5', '6+'] %><br>

<%= f.label :bedrooms %>
<%= f.select :bedrooms, ['1', '2', '3', '4', '5', '6+'] %><br>

<!-- <%= f.label :beds %>
<%= f.select :beds, ['1', '2', '3', '4', '5', '6+'] %><br>

<%= f.label :bathrooms %>
<%= f.select :bathrooms, ['1', '2', '3', '4', '5', '6+'] %><br> -->

<%= f.label :address %>
<%= f.text_field :address %><br>

<%= f.label :city %>
<%= f.text_field :city %><br>

<%= f.label :country %>
<%= f.text_field :country %><br>

<%= f.label :'price per night' %>
<%= f.number_field :price %><br>

<!-- <%= f.label :currency %>
<%= f.select :currency, ['MYR', 'SGD', 'USD', 'Others' ] %><br> -->

<div class="field">
  <%= f.label :upload_images %><br>
  <%= f.file_field :photos, multiple: true %>
</div><br>

<br>

<div class="submit-field">
<%= f.submit %>
</div>

<% end %>

</ul>