<!-- show INDIVIDUAL listings -->

<h3> <%= @listing.listing_name %></h3>
<ul style="list-style-type:disc">
  <li>Property type: <%=	@listing.property_type %></li>
  <li>Room type: <%= @listing.room_type %></li>
  <li>Description: <%= @listing.description %></li>
  <li>Accommodates: <%= @listing.accommodates %></li>
  <li>Bedrooms: <%= @listing.bedrooms %></li>
  <li>Beds: <%= @listing.beds %></li>
  <li>Bathrooms: <%= @listing.bathrooms %></li>
  <li>Price per night: <%= @listing.currency %> <%= @listing.price %></li>
</ul>

<!-- add CAROUSEL pictures -->
<div id="listing_pic">
  <% x = 0%>
  <% @listing.photos.length.times do %>
  <%= image_tag @listing.photos[x].url(:thumb) %>
  <% x += 1%>
  <%end%>
  <!-- instead of uploading image from desktop, -->
  <!-- give it a link, then we just pull the link -->
</div>

<%= form_for @listing do |f| %>
<div class="field">
  <%= f.label :upload_image %><br>
  <%= f.file_field :photos, multiple: true %>
</div><br>

<div class="submit-field">
  <%= f.submit %>
</div>
<%end%><br>

<div id="listing_reservations" >
<table style="width:60%">
  <tr>
    <th> Reservation </th>
    <th> Start Date </th>   
    <th> End Date </th>
  </tr>
  <% @reservation.each do |r| %>
  <tr>
    <td><%= link_to r.id, listing_reservation_path(params[:id], r.id) %></td>
    <td><%= r.start_date %></td>    
    <td><%= r.end_date %></td>
  </tr>
  <% end %>
  </table>
</div>

<%= link_to "Create a RESERVATION", new_listing_reservation_path(params[:id]) %><br>
<%= link_to "EDIT listing", edit_listing_path %><br>
<%= link_to "DELETE listing", listing_path, method: :delete, data: { confirm: "Are you sure?" } %><br>
<%= link_to "Go back to Listing index", listings_path %><br><br>