<ul>
<h4> Please confirm your reservation </h4>

<div id="listing_reservations" >
<table style="width:50%">
  <tr>
  	<th> Listing Name </th>
    <th> Start Date </th>   
    <th> End Date </th>
    <th> No of Nights </th>
    <th> Total Price </th>
  </tr>

  <tr>
  	<td><%= @listing.listing_name %></td>
    <td><%= @reservation.start_date %></td>    
    <td><%= @reservation.end_date %></td>
    <td><%= (@reservation.end_date - @reservation.start_date).to_i %></td>
    <td><%= @listing.price * ((@reservation.end_date - @reservation.start_date).to_i) %></td>
  </tr>
  </table>
</div><br>

<%= link_to 'EDIT Reservation', edit_listing_reservation_path %> | <%= link_to "DELETE Reservation", listing_reservation_path, method: :delete, data: { confirm: "Delete this reservation?" } %><br>

<%= link_to 'Go back to Listing', listing_path(params[:listing_id]) %><br>
<%= link_to 'Pay Now', payments_new_path + "?id=" + @reservation.id.to_s %>

</ul>
<!-- generate a secure_token attached to reservation -->
<!-- secure random generate a random string -->
<!-- pass it on  -->

<!-- purchases/payment db table -->
<!-- reservation_id, braintree_transaction_id, last_4_digits,  -->

<!-- after user click pay, redirect to purchases/payment new -->
<!-- we print out the start date, end date and let user pay -->